### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
raw_df = pd.DataFrame(purchase_data)

## Player Count

* Display the total number of players

In [33]:
#gets player total from the length of a list of unique Screen Names
PlayerTotalCount = len(raw_df.SN.unique())
#sets up dictionary that will be turned into DataFrame with Header prefilled
PlayerTotalOutput = [{"Player Total":PlayerTotalCount}]
#converts dictionary into dataframe
PlayerCount_df = pd.DataFrame(PlayerTotalOutput)
#prints dataframe
PlayerCount_df

   Player Total
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
#gets item total from the length of a list of unique item names
UniqueItems = len(raw_df["Item Name"].unique())
#raw_df has individual purchase data, so an average of the price column gets us the average price
AveragePurchasePrice = raw_df.Price.mean()
#a simple count gets us the number of purchases
TotalPurchases = raw_df["Purchase ID"].count()
#we sum the sales for all purchases, getting the total
TotalRevenue = raw_df.Price.sum()
#combines headers with their respective variables in a dictionary
ItemsList = ({"Number of Unique Items": UniqueItems, 
              "Average Price": AveragePurchasePrice,
              "Number of Purchases": TotalPurchases,
              "Total Revenue": TotalRevenue,
              })
#converts dictionary to a DataFrame
PurchasingAnalysis_df = pd.DataFrame(ItemsList, index=[0])
#formats the appropriate columns to currency
PurchasingAnalysis_df=PurchasingAnalysis_df.style.format({"Average Price": "${:,.2f}",
                                                          "Total Revenue": "${:,.2f}"
                                                         })
#prints dataframe
PurchasingAnalysis_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
#removes the duplicate data (since gender and SN should always be the same accross entry, we dont worry about losing data)
DeDuped_df = raw_df.drop_duplicates(subset=["SN"])
#pulls value counts from gender column and inputs data to dataframe
GenderDemographics_df = pd.DataFrame(DeDuped_df["Gender"].value_counts())
#renames column for output purposes
GenderDemographics_df = GenderDemographics_df.rename(columns={"Gender": "Total Count"})
#sets up dataframe for next portion to pull gender counts
GenderCount_df = GenderDemographics_df
#calculates the percentage using Gender count and previously calculated player total
GenderDemographics_df["Percentage of Players"] = GenderDemographics_df["Total Count"]/PlayerTotalCount
#formats the Percentage of Players column to percentage
GenderDemographics_df = GenderDemographics_df.style.format({"Percentage of Players": "{:.2%}"})
#prints dataframe
GenderDemographics_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
#creates a groupby object based off the Gender column 
GenderGroup_gb = raw_df.groupby("Gender")
#counts all purchases made for each gender
GenderPurchaseCount_df = GenderGroup_gb.count()
#calculates average of purchase price for each gender
GenderAveragePurchasePrice_df = GenderGroup_gb.mean()
#calculates the sum of purchases for each gender
GenderTotalPurchaseValue_df = GenderGroup_gb.sum()
#calculates the average purchase price for each gender based off total purchase value and count info from last section
GenderAvgTotalPurchasePerPerson_df = (GenderTotalPurchaseValue_df["Price"] / GenderCount_df["Total Count"])
#creates output Dataframe and sets up headers
GenderPurchasingAnalysis_df = pd.DataFrame({"Purchase Count":GenderPurchaseCount_df["Price"],
                               "Average Purchase Price":GenderAveragePurchasePrice_df["Price"],
                               "Total Purchase Value":GenderTotalPurchaseValue_df["Price"],
                               "Avg Total Purchase per Person":GenderAvgTotalPurchasePerPerson_df})
#formats the appropriate columns to currency
GenderPurchasingAnalysis_df=GenderPurchasingAnalysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                                                      "Total Purchase Value": "${:,.2f}",
                                                                      "Avg Total Purchase per Person": "${:,.2f}"})
#prints dataframe
GenderPurchasingAnalysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
#sets up bin limits and labels in list variables
AgeBins = [0,9,14,19,24,29,34,39,100]
AgeBinLabels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#calculation that cuts bins into respective slices and does a count of the bins
AgeBinCount = pd.cut(DeDuped_df["Age"], bins=AgeBins,labels=AgeBinLabels,include_lowest=True).value_counts()
#converts data into DataFrame
AgeDemographics_df = pd.DataFrame(AgeBinCount)
#renames appropriate columns
AgeDemographics_df=AgeDemographics_df.rename(columns={"Age": "Total Count"})
#sets up dataframe for next portion to pull bin counts
AgeCount_df = AgeDemographics_df
#calculates and fills Percentage of Players column with info based on count of bins and total players variable
AgeDemographics_df["Percentage of Players"] = (AgeDemographics_df["Total Count"]/PlayerTotalCount)
#reindexes labels so they are in order
AgeDemographics_df = AgeDemographics_df.reindex(AgeBinLabels)
#formats the appropriate columns to currency
AgeDemographics_df = AgeDemographics_df.style.format({"Percentage of Players": "{:.2%}"})
#prints dataframe
AgeDemographics_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
#establishes new DataFrame with all info
Age_df = raw_df
#creates a new column with the age group bin labels based on count
Age_df["Age Group"] = pd.cut(Age_df["Age"],bins=AgeBins,labels=AgeBinLabels,include_lowest=True)
#creates a groupby object based off the Age Group (bin) column 
AgeGroup2_gb = Age_df.groupby("Age Group")
#counts all purchases made for each bin
AgePurchaseCount_df = AgeGroup2_gb.count()
#calculates average of purchase price for each bin
AgeAveragePurchasePrice_df = AgeGroup2_gb.mean()
#calculates the sum of purchases for each bin
AgeTotalPurchaseValue_df = AgeGroup2_gb.sum()
#calculates the average purchase price for each bin based off total purchase value and count info from last section
AgeAvgTotalPurchasePerPerson_df = (AgeTotalPurchaseValue_df["Price"] / AgeCount_df["Total Count"])
#creates output Dataframe and sets up headers
AgePurchasingAnalysis_df = pd.DataFrame({"Purchase Count":AgePurchaseCount_df["Price"],
                               "Average Purchase Price":AgeAveragePurchasePrice_df["Price"],
                               "Total Purchase Value":AgeTotalPurchaseValue_df["Price"],
                               "Avg Total Purchase per Person":AgeAvgTotalPurchasePerPerson_df})
#formats the appropriate columns to currency
AgePurchasingAnalysis_df = AgePurchasingAnalysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                         "Total Purchase Value": "${:,.2f}",
                                          "Avg Total Purchase per Person": "${:,.2f}",
                                         })
#prints dataframe
AgePurchasingAnalysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
#creates a groupby object based off the Screen Name column 
SN_gb = raw_df.groupby("SN")
#establishes dataframe
TopSpenders_df = pd.DataFrame()
#calculates count of purchases per SN
TopSpenders_df["Purchase Count"] = SN_gb["Price"].count()
#calculates avg purchase price per SN
TopSpenders_df["Average Purchase Price"] = SN_gb["Price"].mean()
#calculates total per SN
TopSpenders_df["Total Purchase Value"] = SN_gb["Price"].sum()
#Sorts all data by Total Purchase Value
TopSpenders_df=TopSpenders_df.sort_values(["Total Purchase Value"],ascending=False)

#formats the appropriate columns to currency AND pulls top5 rows
TopSpenders_df = TopSpenders_df.head().style.format({ "Average Purchase Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                         })
#prints dataframe
TopSpenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
#creates a groupby object based off the Item Name and Item ID columns
Item_gb = raw_df.groupby(["Item ID","Item Name"])
#establishes dataframe
PopularItems_df = pd.DataFrame()
#calculates the count of purchases per item
PopularItems_df["Purchase Count"] = Item_gb["Price"].count()
#calcualtes the Item Price by just getting the average of the group (with all values being the same, sum/count should equal the value of the item price)
PopularItems_df["Item Price"] = Item_gb["Price"].mean()
#calculates the Total Purchase Value per item
PopularItems_df["Total Purchase Value"] = Item_gb["Price"].sum()
#sets up dataframe for next portion to do different sort
ProfitableItems_df = PopularItems_df
#Sorts all data by Purchase Count
PopularItems_df=PopularItems_df.sort_values(["Purchase Count"],ascending=False)
#formats the appropriate columns to currency AND pulls top 5 rows
PopularItems_df = PopularItems_df.head().style.format({ "Item Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                         })
#prints dataframe
PopularItems_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
#Sorts all data by Total Purchase Value
ProfitableItems_df = ProfitableItems_df.sort_values(["Total Purchase Value"],ascending=False)
#formats the appropriate columns to currency AND pulls top 5 rows
ProfitableItems_df = ProfitableItems_df.head().style.format({ "Item Price": "${:,.2f}",
                                        "Total Purchase Value": "${:,.2f}",
                                         })
#prints dataframe
ProfitableItems_df